* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  background-image: linear-gradient(to right, #66ccff ,#66ff66);
  color: white;
}
h1 {
  font-family: "Lucida Console";
  padding: 15px;
  font-size: 40px;
  text-align: center;
}

h1:hover {
  padding: 15px;
  font-size: 40px;
  text-align: center;
  color: #000;
}
p{
  padding: 20px;
  font-size: 1rem;
  color: black;
}

 form {
  color: black;
  padding-left: 10px;
  margin: 0 auto;
  text-align: center;
}
input,select{
  border: none;
  padding: 15px;
  margin: 10px;
  width: 30%;
  text-align: center;
}

.btn {
  justify-content: center;
}

.calculation p {
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bolder;
}
